{{#if resume.languages}}
    <div class="languages-container container-block">
         <h2 class="container-block-title"><i class="fa fa-bullhorn"></i> Langues</h2>
        <ul class="list-unstyled interests-list">
            {{#resume.languages}}
                <li>{{language}}</li>
            {{/resume.languages}}
        </ul>
    </div><!--//interests-->
{{/if}}