{{#if resume.skills}}
    <section class="interests-container container-block">
        <h2 class="container-block-title"><i class="fa fa-rocket"></i> Compétences</h2>
        <div class="skillset">
            {{#each resume.skills}}
    <div class="item">
        {{#if name}}
        <div class="list-unstyled interests-list">
            {{name}}
        </div>
        {{#if keywords.length}}
        <div class="keywords">
            {{#each keywords}}
            <span class="label label-default">{{.}}</span>
            {{/each}}
        </div>
        {{/if}}
        {{/if}}
    </div>
    {{/each}}
        </div>
    </section><!--//skills-section-->
{{/if}}